@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Andada Pro', serif;
    font-weight: 300;
    color: black;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 1px solid #000000;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

header {
    height: 60px;
    
    display: inline-block;
    vertical-align: top;
    
    color: white;
    
    width: 100%;
    padding-bottom: 20px;
    }

#fitness-center {
    height: 600px;
    width: 100%;
    background: url('../images/fitness-center.jpeg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}

#fitness-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 120%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 400px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: rgba(101, 118, 219, 0.7);

    bottom: 20px;
    right: 50px;
    position: absolute;
}

#about-us {
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
   
}

#about-us div {
    width: 60%;
    display: inline-block;
    border: 1px solid #252525;
    border-radius: 10px;

}

#about-us h2 {
    text-align: center;
    font-family: 'Andada Pro';
    text-transform: uppercase;
    color: #252525;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.about {
    text-align: center;
    padding: 0px 50px 30px 50px;
    letter-spacing: 1px;
   
}

#banner {
    text-transform: uppercase;
    text-align: center;
    font-size: 240%;
}


.maps {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#tennis #football #swimming #track {
    width: 60%;
    display: inline-block;
    border: 1px solid #252525;
    border-radius: 10px;
}

#photos {
    column-count: 4;
}

.row {
    display: flex;
    width: 1200px;
    height: 1200px;
    position: absolute;
    margin-left: 10%;
  }
  
.column {
    padding: 1px;
  }


  