#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

header {
    height: 60px;
    
    display: inline-block;
    vertical-align: top;
    
    color: white;
    
    width: 100%;
    padding-bottom: 20px;
    }

#fitness-center {
    height: 600px;
    width: 100%;
    background: url('../images/fitness-center.jpeg') no-repeat center center;
}