@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Andada Pro', serif;
    font-weight: 300;
    color: black;
}

.logo {
    float: left;
    font-size: 200%;
    padding-top: 20px;
    margin-left: 30px;
    color: black;
}

#menu {
    font-size: 80%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 1px solid #000000;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

header {
    height: 60px;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 100%;
    padding-bottom: 20px;
}

#fitness-center {
    height: 600px;
    width: 100%;
    background: url('../images/fitness-center.jpeg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
}

#fitness-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 120%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 400px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(101, 118, 219, 0.7);

    bottom: 20px;
    right: 50px;
    position: absolute;
}

#about-us {
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;

}

#about-us div {
    width: 60%;
    display: inline-block;
    border: 1px solid #252525;
    border-radius: 10px;

}

#about-us h2 {
    text-align: center;
    font-family: 'Andada Pro';
    text-transform: uppercase;
    color: #252525;
    padding-top: 20px;
    padding-bottom: 20px;

}

.about {
    text-align: center;
    padding: 0px 50px 30px 50px;
    letter-spacing: 1px;

}

#banner {
    text-transform: uppercase;
    text-align: center;
    font-size: 240%;
}

#location {
    text-align: center;
}

.maps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    column-count: 4;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.column {
    padding: 10px;
}

.caption {
    display: flex;
    text-align: center;
    border: 1px solid rgb(27, 27, 27);
    border-radius: 10px;
}

.sport {
    text-align: center;
}

.form-section {
    background: url('../images/sportcomplex.jpeg');
    background-size: cover;
    background-position: center;
    height: 1000px;
}

#form {
    margin: 150px 10% 0 0;
    color: white;
    background-color: rgba(101, 118, 219, 0.7);
    max-width: 500px;
    position: absolute;
    display: block;
    padding: 10px;
    left: 30%;
    text-align: center;
    border-radius: 10px;
}

.text-input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0 20px;
    width: 100%;
    height: 25px;
}

.query-input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0 20px;
    width: 100%;
    height: 100px;
}

.submit {
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
    text-align: center;
    font-size: 100%;
    padding: 17px 36px 17px 36px;
    border-radius: 3px;
}

@media screen and (max-width: 1200px) {

    #photos {
        column-count: 2;
        margin-top: 20px;
        padding: 20px 10px !important;
    }

    #menu {
        clear: left;
        float: left;
        line-height: 25px;
        position: fixed;
    }

    #form {
        left: 25%;
    }
}

@media screen and (max-width: 950px) {

    #photos {
        column-count: 1;
        margin-top: 20px;
        padding: 20px 10px !important;
    }

    #about-us div {
        width: 95%;
        display: inline-block;
        border: 1px solid #252525;
        border-radius: 10px;
    }

    #location {
        width: 95%;
    }

    #menu {
        clear: left;
        float: none;
        margin-left: 30px;
        line-height: 25px;
        font-size: 65%;
    }

    #form {
        left: 10%;
    }

    #fitness-center {
        text-align: center;
    }

    .logo {
        font-size: 100%;
        padding-top: 8%;
    }

    #header {
        padding-bottom: 0%;
    }
}

@media screen and (max-width: 400px) {

    #menu {
        font-size: 50%;
    }
}